body {
  font-family: 'Montserrat';
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}


/* Navbar Section */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Ubuntu';
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light'
}
#navbarSupportedContent {
  padding: 20px;
  font-size: 1.5rem;
}



/* Title Section */
#title {
  color: white;
  background-color: #ff4c68;
  position: relative;
  text-align: left;
}
.main-head {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-top: 150px;
}
.dwnld-btn {
  margin: 5% 3% 5% 0;
}
.container-fluid {
  padding: 3% 10%;
  /* padding-bottom: 2%; */
}
.title-ph {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}



/* Features Section */
#features {
padding: 7% 15%;
background-color: white;
position: relative;
}
.rele {
  padding: 5%;
  margin: 100px 0;
}
.feat-text{
  font-size: 1.7rem;
  font-weight: bolder;
}
.featico {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.featico:hover {
  color: #ff4c68;
  /* transform: scale(1.5); */
}
.featp {
  color: #8f8f8f;
  font-size: 1.2rem;
}



/* testimonials section */
#testimonials {
  background-color: #ef8172;
  color: #ffff;
}
.testi-text {
  font-style: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5;
  padding: 7% 20%;
}
.carousel-item {
  padding: 7% 15%;
}
.testi-img {
  width: 15%;
  border-radius: 100%;
  padding: 10px 20px 20px;
}
.user-n {
  display: block;
}
.caro-ico:hover {
  color: #ffff;
}



/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}



/* pricing section */
#pricing {
  padding: 100px;
  margin-bottom: 100px;
}
.pricing-head {
  padding: 50px;
}
.hidden {
  visibility: hidden;
}
.card {
  padding-left: 0;
  padding-right: 0;
}
.card-title {
  margin-top: 50px;
}


/* CTA */
#cta {
  background-color: #ff4c68;
  padding: 100px;
}
.cta-text {
  font-family: 'Montserrat-black';
  color: #ffff;
  font-size: 4rem;
  line-height: 1.5;
  padding: 100px 250px 50px;
  margin-bottom: 0;
}

/* footer */
#footer {
  background-color: #ffff;
  padding: 100px;
}
.footer-ico {
  padding: 20px;
  font-size: 1.5rem;
  color: grey;
}
.footer-p {
color: grey;
}



@media (max-width:1300px) {
  .title-ph {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
  #features {
    position: static;
  }

}
